* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

:root {
  --dark-pink: #EB1981;
  --light-pink: #F8A1C6;
  --bluish: #00CFC4;
  --greenish: #97D151;
  --light-grey: #EFEFEF;
  --darker-grey: #7C7C7C;
  --boxshadow: 0 3px 2px 0px rgba(89,89,89,0.15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* background-color: var(--light-grey);*/
  background: var(--greenish) url('img/greensmoothie.png') right/50% fixed no-repeat;
  /*background: url('img/homebackground.jpg') top center/cover no-repeat;*/
  /*background: var(--light-grey) url('img/smoothies-2253423_1920.jpg') top center/cover no-repeat;*/
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: var(--boxshadow);
  position: relative;
  z-index: 1;
  /* visibility: hidden; */
}

.logoContainer > img {
  width: 40%
}

.userButtonContainer {
  display: inline-block;
  margin-top: 20px
}

button {
  padding: 10px 15px;
  border-radius: 3px;
  border: 0;
  color: white;
  text-transform: uppercase;
  background: var(--dark-pink);
  cursor: pointer
}

button:hover {
  background-color: var(--light-pink)
}

.hidden {
  display: none;
}

.herosection {
  padding: 150px 0;
  /*box-shadow: var(--boxshadow);*/
}

.buttoncolumn > img {
  display: block;
  margin: 0 auto;
  width: 60%
}

h1 {
  color: white;
  margin-bottom: 40px;
  text-align: center;
}

.buttoncolumn {
  width: 25%;
  margin-left: 350px;
}

.registerlogin > button {
  font-size: 1.2em;
  margin: 0 auto
}

.userform {
  background-color: var(--light-grey);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--boxshadow);
  display: none;
}

.warning {
  background-color: var(--light-pink);
  padding: 10px;
  border-radius: 10px;
  display: none;
}

.smoothieWrapper {
  padding: 100px 0
}

.registerlogin {
  display: block;
  text-align: center;
  margin-bottom: 20px
}

#registerForm, #loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px
}

.activities {
  /*padding: 100px 0;*/
}

.flexrow {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto
}

.flexrowwrapper {
  padding: 100px 0;
}
.column {
  width: 30%;
  padding: 20px;
  position: relative;
  background: white;
  box-shadow: var(--boxshadow);
}

.column > h3 {
  margin-bottom: 15px
}

.column > p {
  margin-bottom: 90px
}

.column > button {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  font-size: 1em
}

.CreateRecipe {
  background-color: var(--greenish);
}

.smoothieform {
  width: 40%;
  margin: 100px auto;
  background-color: var(--light-grey);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--boxshadow);
}

#createSmoothie label, #registerForm label, #loginForm label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--darker-grey);
}

#registerForm label, #loginForm label {
  color: white;
}

.firstlastnames {
  display: flex
}

.firstname {
  margin-right: 10px
}

.firstname, .lastname {
  display: flex;
  flex-direction: column;
  width: 50%
}

#createSmoothie input, #registerForm input, #loginForm input {
  border-radius: 20px;
  border: 0;
  padding: 15px;
  font-size: 1em;
  box-shadow: var(--boxshadow);
  margin-bottom: 20px
}

input[name="smoothieName"] {
  width:100%;
}

.ingredients > input {
  margin-right: 10px;
}

#registerForm button, #loginForm button {
  width: 25%;
  font-size: 1em;
  margin: 0 auto;
}

.formbuttons > button {
  margin: 30px 5px 0 0;
  font-size: 1em
}

#js-smoothies {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.smoothies {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  padding:100px 0;
}

.smoothie {
  padding: 20px;
  background: white;
  width: 30%;
  display: inline-block;
  margin: 10px;
  position: relative;
  box-shadow: var(--boxshadow);
}

/*.deleteupdate {
  position: absolute;
  bottom: 0;
}*/

.smoothie > ul {
  list-style: none;
  margin: 10px 0
}
