* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

:root {
  --dark-pink: #EB1981;
  --light-pink: #F8A1C6;
  --bluish: #00CFC4;
  --greenish: #97D151;
  --light-grey: #EFEFEF;
  --darker-grey: #7C7C7C;
  --boxshadow: 0 3px 2px 0px rgba(89,89,89,0.15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: var(--light-grey);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: var(--boxshadow);
  position: relative;
  z-index: 1;
  /* visibility: hidden; */
}

.logoContainer > img {
  width: 40%
}

.userButtonContainer {
  display: inline-block;
  margin-top: 20px
}

button {
  padding: 10px 15px;
  border-radius: 3px;
  border: 0;
  color: white;
  text-transform: uppercase;
  background: var(--dark-pink);
  cursor: pointer
}

button:hover {
  background-color: var(--light-pink)
}

.hidden {
  display: none;
}

.herosection {
  background: url('img/homebackground.jpg') top center/cover no-repeat;
  padding: 150px 0
}

.herosection > img {

}

h1 {
  color: white;
  margin-bottom: 40px;
  text-align: center;
}

.buttoncolumn {
  width: 30%;
  margin-left: 400px;
}

.buttoncolumn > button {
  font-size: 1.2em;
  margin: 0 auto
}

.smoothieWrapper {
  padding: 100px 0
}

.activities {
  margin: 100px 0;
}

.flexrow {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto
}

.column {
  width: 30%;
  padding: 20px;
  position: relative;
  background: white;
  box-shadow: var(--boxshadow);
}

.column > h3 {
  margin-bottom: 15px
}

.column > p {
  margin-bottom: 90px
}

.column > button {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  font-size: 1em
}

.CreateRecipe {
  background-color: var(--greenish);
}

.smoothieform {
  width: 40%;
  margin: 100px auto
}

#createSmoothie label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--darker-grey);
}

#createSmoothie input {
  border-radius: 20px;
  border: 0;
  padding: 15px;
  font-size: 1em;
  box-shadow: var(--boxshadow);
  margin-bottom: 20px
}

input[name="smoothieName"] {
  width:100%;
}

.ingredients > input {
  margin-right: 10px
}

.formbuttons > button {
  margin: 30px 5px 0 0;
  font-size: 1em
}

#js-smoothies {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.smoothie {
  padding: 20px;
  background: white;
  width: 30%;
  display: inline-block;
  margin: 10px
}

.smoothie > ul {
  list-style: none;
  margin: 10px 0
}
